div#loading {
  animation: fade-in 300ms alternate infinite;
  max-width: 800px;
  margin: auto;
}

@keyframes fade-in{
  from {
    transform: translateX(20px);
    opacity: 0;
  } to {
    transform: translateX(0px);
    opacity: 1;
  }
}
