@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  width: fit-content;
  text-wrap: nowrap;
  background-color: rgba(50, 50, 50, .15);
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  margin: 5px 5px 0px 0px;
}

button {
  border: none;
  font-size: inherit;
  color: inherit;
  width: fit-content;
  background-color: rgba(50, 50, 50, .15);
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  margin: 5px 5px 0px 0px; 
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, .20)
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

body {
  color: rgba(0, 0, 0, 0.750);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3rem;
}

/* PROFILE */
section {
  padding: 0px 15px;
  max-width: 800px;
  margin: 0px auto 50px;
}

#profile-pic-container {
  width: 70vw;
  margin: auto;
}

#profile-pic {
  width: 100%;
  border-radius: 20px;
}

#profile-info {
  padding: 10px;
  text-align: center;
}

#profile-name {
  margin-bottom: 0px;
}

#profile-titles {
  margin: auto;
  margin-top: 10px;
}

#profile-links {
  margin: auto;
  display: flex;
  align-items: center;
}
#profile-links-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 750px) {
  section#profile {
    display: flex;
  }
  #profile-pic-container {
    width: 40%;
    margin: 10px;
    padding-right: 15px;
  }
  #profile-info {
    text-align: left;
  }
  #profile-links {
    margin: 0;
  }
  #profile-links-list {
    padding: 0;
    margin: 0;
    justify-content: flex-start;
  }
}

/* EXPERIENCE */
#xp-company-name {
  margin-bottom: 0px;
}
#xp-description {
  text-align: justify;
}

#xp-techs {
  border-left: 2px solid rgba(50, 50, 50, .15);
  list-style-type: none;
  padding: 0px 15px;
  font-size: 1.1rem;
}

#xp-techs>li>h4 {
  margin-bottom: 5px;
}

#xp-techs>li>p {
  margin: 0px;
}

/* PROJECTS */
#projects-techs-hint {
  display: none;
}
#projects-techs > option {
  padding-bottom: 3px;
  padding-top: 3px;
}
.tech-selected {
  background-color: rgba(50, 50, 50, .20)
}
#projects-type-container, #projects-techs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
#projects-type, #projects-techs {
  margin-top: 5px;
  width: max-content;
  font-size: 1.07rem;
  color: inherit;
  background-color: rgba(50, 50, 50, .15);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}
 #projects-container {
  font-size: 1.1rem;
  padding: 0px 15px 20px 15px;
  border-left: 2px solid rgba(50, 50, 50, .15);
  border-bottom: 2px solid rgba(50, 50, 50, .15);
  border-bottom-left-radius: 10px;
  height: 450px;
  overflow-y: scroll;
}

.project-card {
  animation: 300ms slide-in ease-out;
  margin-bottom: 35px;
}

@keyframes slide-in {
  from {
    transform: translateX(20px);
    opacity: 0
  } to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.project-card > h4 {
  margin-bottom: 5px;
}
.project-card > small {
  margin-bottom: 10px;
  margin-top: -5px;
  display: block;
}
.project-card > p {
  margin: 0;
}
.project-links-container {
  display: flex;
}

@media (min-width: 700px){
  #projects-flex-container {
    display: flex;
    gap: 10px;
  }
  #projects-form {
    width: 300px;
  }
  #projects-techs-hint {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
  }
  #projects-container {
    width: 450px;
  }
  .project-card > p {
    text-align: justify;
  }
}
#articles-container, #studies-container {
  border-left: 2px solid rgba(50, 50, 50, .15);
}
.latest-card {
  margin-bottom: 30px;
  font-size: 1.1rem;
  padding: 10px 15px;
}
.latest-card > small {
  margin-bottom: 0px;
  font-size: small;
  display: block;
}
.latest-card > h4 {
  margin: 0px;
}
.latest-card > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

