header {
  margin-bottom: 50px;
}

#studies-container {
  height: 70vh;
  overflow-y: scroll;
  margin-bottom: 20px;
}
#studies-form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#studies-input {
  border: none;
  background-color: rgba(50, 50, 50, .15);
  padding: 10px 15px;
  font-size: 1.1rem;
  border-radius: 5px;
}

#studies-input:focus {
  outline: none;
}
